<!-- REGISTER FORM -->
<section class="register-section" id="register" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>


    <form th:object="${userRegisterBindingModel}"
          th:action="@{/users/register}"
          th:method="post">

    <div class="row input-group-newsletter">
        <div class="col">
            <input th:field="*{username}"
                   minlength="4" maxlength="20"
                   class="form-control"
                   id="inputUsername"
                   type="text"
                   placeholder="Enter username..."
                   aria-label="Enter username..."
                   data-sb-validations="required,username" />
            <small id="usernameError"
                   class="invalid-feedback bg-danger rounded">Username length must be more than 3 characters</small>
            <small th:if="${false}" id="usernameUniqueError"
                   class=" bg-danger rounded">Username is already occupied</small>
        </div>

        <div class="col">
            <input th:field="*{email}"
                   class="form-control"
                   id="inputEmail"
                   type="email"
                   placeholder="Enter email..."
                   aria-label="Enter email..."
                   data-sb-validations="required,email" />
            <small id="emailError"
                   class="invalid-feedback  form-text bg-danger rounded">Must be valid email</small>
        </div>

        <div class="col">
            <input th:field="*{password}"
                   minlength="4" maxlength="20"
                   class="form-control"
                   id="inputPassword"
                   type="password"
                   placeholder="Enter password..."
                   aria-label="Enter password..."
                   data-sb-validations="required,password" />
            <small id="passwordError"
                   class="invalid-feedback  form-text bg-danger rounded">
                Password length must be between 5 and 20 characters and passwords should match.
            </small>
        </div>

        <div class="col">
            <input th:field="*{confirmPassword}"
                   minlength="4" maxlength="20"
                   class="form-control"
                   id="inputConfirmPassword"
                   type="password"
                   placeholder="Enter password..."
                   aria-label="Enter password..."
                   data-sb-validations="required,password" />
            <small id="confirmPasswordError"
                   class="invalid-feedback  form-text bg-danger rounded">
                Password length must be between 5 and 20 characters and passwords should match.
            </small>
        </div>



       <!-- TODO: I AM NOT A ROBOT / CONFIRM PASS -->
        <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Register</button></div>
    </div>
    <!--   <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
       <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
        -->
    <!---->


    <!-- Submit error message-->
    <!---->
    <!-- This is what your users will see when there is-->
    <!-- an error submitting the form
    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>-->
    </form>
                    </div>
                </div>
            </div>
</section>